@font-face {
    font-family: 'Gilmer';
    src: url('fonts/Gilmer Regular.otf') format('opentype');
        /* url('css/fonts/Gilmer-Regular.woff') format('woff'); */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('fonts/Gilmer Medium.otf') format('opentype');
        /* url('css/fonts/Gilmer-Medium.woff') format('woff'); */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('fonts/Gilmer Bold.otf') format('opentype');
        /* url('css/fonts/Gilmer-Bold.woff') format('woff'); */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilmer';
    src: url('fonts/Gilmer Heavy.otf') format('opentype');
        /* url('css/fonts/Gilmer-Heavy.woff') format('woff'); */
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
